@page "/ApproveProduct"
@using DesktopModel.Model
@using DesktopModel.Services;
@inject IProductservice Productservice;
<h3>ApproveProduct</h3>
<div class="form-group">
    @if (products == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Id</th>
                    <th>Items</th>
                    <th>Quantity</th>
                    <th>Available Quantity</th>
                    <th>TakenBy</th>
                    <th>TakenDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in products)
                {
                    <tr>
                        <td><input type="checkbox" @bind="item.Check" value="@item.Check"></td>
                        <td>@item.Id</td>
                        <td>@item.Items</td>
                        <td>@item.Quantity</td>
                        <th>@item.AvailableQuan</th>
                        <td>@item.TakenBy</td>
                        <td>@item.TakenDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="text-center mt-2">
    <button class="btn btn-primary" type="submit" @onclick="Submit">
        Approve
    </button>
</div>
@code {
    List<Product> products = new List<Product>();
    protected override async Task OnInitializedAsync()
    {
        Getdata();
    }
    private async void Submit()
    {
        try
        {
            if (checktime())
            {
                await App.Current.MainPage.DisplayAlert("Oops", "you Can Approve Item In Office Time!!", "OK");
                return;
            }
            foreach (var item in products.ToList())
            {
                if (!item.Check)
                {
                    products.Remove(item);
                }
                else
                {
                    item.ApprovedBy = session.UserDetail.Name;
                }

            }
            if (products.Count == 0)
            {
                Getdata();
                await App.Current.MainPage.DisplayAlert("Oops", "Please Select items!!", "OK");
                return;
            }
            var message = await Productservice.ApproveData(products);
            Getdata();
            await App.Current.MainPage.DisplayAlert("Success", message, "OK");
        }
        catch (Exception ex)
        {
            await App.Current.MainPage.DisplayAlert("Oops", ex.Message, "OK");
        }
    }
    private async void Getdata()
    {
        products = null;
        products = new();
        products = await Productservice.GetRequestData();
    }
    private bool checktime()
    {
        bool check = true;
        if (DateTime.Now.Hour < 9 && DateTime.Now.Hour > 16)
        {
            check = false;
        }
        if ((DateTime.Now.DayOfWeek == DayOfWeek.Saturday) && (DateTime.Now.DayOfWeek == DayOfWeek.Sunday))
        {
            check = false;
        }
        return check;
    }
}
